<div class="row">
  <div class="col-lg-12">
    <div class="dashboard-title">
      Pension Registration Process
      <div class="hr"></div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-lg-12">
    <div class="dashboard-tiles">
      <div class="col-lg-3 dashboard-tile">
          Text
      </div>
      <div class="col-lg-3 dashboard-tile">
        Text
      </div>
      <div class="col-lg-3 dashboard-tile">
        Text
      </div>
      <div class="col-lg-3 dashboard-tile">
        Text
      </div>

    </div>
  </div>
</div>


