.dashboard-title{
  color: #3c8dbd;
  font-size: 27px;
  padding: 20px;
}
.dashboard-tiles{
  padding: 20px;
}
.dashboard-tile{
  transition: 0.3s;
  cursor: pointer;
  padding: 10px;
  border: 20px  solid #ecf0f5;
  height: 125px;
}
.dashboard-tile:hover{
  background: #207f79;
}
.dashboard{
  height: calc( 100vh - 50px);
}
.hr{
  /*border-bottom: 5px solid #3c8dbd;
  border-radius: 2%;*/
  background-color: #3c8dbd;
  border: 0px;
  height: 5px;
  border-radius: 50%;
}

.col-lg-3{
  background: lightseagreen;
}
