<div>
    <h3>Service Information</h3>

    <div class="form-group">
        <label class="control-label col-sm-4" for="pensionType">Retiring officer belongs to</label>
        <div class="col-sm-4">
            <select class="form-control" name="pensionType" id="pensionType">
                <option value="">-- Select--</option>
                <option value="Central-Government">Central Government</option>
                <option value="Provincial">Provincial</option>
                <option value="Military">Military</option>
                <option value="Other">Other</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-4" for="service">Service</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="service" id="service">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-4" for="grade">grade</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="grade" id="grade" placeholder="Grade">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-4" for="designation">Designation</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="designation" id="designation" placeholder="Designation">
        </div>
    </div>

    <div class="form-group">
        <label for="doa" class="control-label col-sm-4">Date of First Appointment</label>
        <div class=" col-sm-2">
            <input type="text" class="form-control" name="doa" id="doa" placeholder="YYYY-MM-DD" />
        </div>
    </div>

    <div class="form-group">
        <label for="dopa" class="control-label col-sm-4">Date of Permanent Appointment</label>
        <div class=" col-sm-2">
            <input type="text" class="form-control" name="dopa" id="dopa" placeholder="YYYY-MM-DD" />
        </div>
    </div>

    <div class="form-group">
        <label for="isConfirmed" class="control-label col-sm-4">Confirmed in Post</label>
        <div class=" col-sm-2">
            <input type="radio" name="isConfirmed" id="yes" checked/> Yes
            <input type="radio" name="isConfirmed" id="no" /> No
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-4" for="retireSection">Section under which retirement is Effected</label>
        <div class="col-sm-6">
            <select class="form-control" name="retireSection" id="retireSection">
                <option value="Section 2:17">Section 2:17</option>
                <option value="Section 2:14">Section 2:14</option>
                <option value="Section 2:7">Section 2:7</option>
                <option value="Section 2:15">Section 2:15</option>
                <option value="Section 2:12">Section 2:12</option>
                <option value="Section 2:48">Section 2:48</option>
                <option value="Section 2:25">Section 2:25</option>
                <option value="Public administration circular 44/90">Public administration circular 44/90</option>
                <option value="Public administration circular 14/33">Public administration circular 14/33</option>
                <option value="18(1)">18(1)</option>
                <option value="18(4)A">18(4)A</option>
                <option value="34(1)">34(1)</option>
                <option value="15(1)">15(1)</option>
                <option value="3(1)(a)">3(1)(a)</option>
                <option value="3(1)(b)">3(1)(b)</option>
                <option value="7(1)(a)">7(1)(a)</option>
                <option value="7(1)(b)">7(1)(b)</option>
                <option value="7(1)(c)">7(1)(c)</option>
                <option value="18(1)(a)">18(1)(a)</option>
                <option value="18(1)(b)">18(1)(b)</option>
                <option value="26(2)(a)">26(2)(a)</option>
                <option value="26(2)(b)">26(2)(b)</option>
                <option value="26(3)(a)">26(3)(a)</option>
                <option value="26(3)(a)">26(3)(a)</option>
                <option value="16(b)">16(b)</option>
                <option value="16(c)">16(c)</option>
                <option value="38(b)">38(b)</option>
                <option value="2(a)">2(a)</option>
                <option value="21(1)(b)(1)(b)">21(1)(b)(1)(b)</option>
                <option value="29(c)">29(c)</option>
                <option value="29(d)">29(d)</option>
                <option value="21(1)(a)">21(1)(a)</option>
                <option value="20(d)">20(d)</option>
                <option value="29(a)">29(a)</option>
                <option value="29(e)(1)">29(e)(1)</option>
                <option value="29(e)(3)">29(e)(3)</option>
                <option value="21(a)">21(a)</option>
                <option value="21(d)">21(d)</option>
                <option value="8(1)(a)">8(1)(a)</option>
                <option value="8(1)(b)">8(1)(b)</option>
                <option value="8(1)(c)">8(1)(c)</option>
                <option value="51(1)(1)">51(1)(1)</option>
                <option value="35(1)">8(1)(c)</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="retireReason" class="control-label col-sm-4">Retirement Reason</label>
        <div class="col-sm-3" style="margin-bottom: 5px">
            <input type="text" class="form-control" name="retireReason" id="retireReason" placeholder="Retirement Reason">
        </div>
    </div>

    <div class="form-group">
        <label for="dor" class="control-label col-sm-4">Date of Retirement</label>
        <div class=" col-sm-2">
            <input type="text" class="form-control" name="dor" id="dor" placeholder="YYYY-MM-DD" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-4" for="circular">Salary Circular & Retirement Year</label>
        <div class="col-sm-2">
            <select class="form-control" name="circular" id="circular">
                <option value="0" disabled selected>Select</option>
                <option value="2015">6/2006</option>
                <option value="2016">3/2016 - 2016</option>
                <option value="2017">3/2016 - 2017</option>
                <option value="2018">3/2016 - 2018</option>
                <option value="2019">3/2016 - 2019</option>
                <option value="2020">3/2016 - 2020</option>
            </select>
        </div>
    </div>
    
    <ul class="list-inline col-sm-offset-6">
        <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
        <li><button type="button" class="btn btn-primary" id="btnService">Continue</button></li>
    </ul>
</div>