.header{
  height: 50px;
  background: #0065C9;

}
.title{
  font-size: 28px;
  padding-top: 0.3%;
  margin-left: 10px;
  color: white;
}
.username{
  text-align: right;
  color: white;
  margin-right: 10px;
  padding-top: 1%;
}
