<ul class="nav nav-tabs" role="tablist">

    <li role="presentation" class="active">
        <a href="" data-toggle="tab" role="tab" title="Personal Information">
            <span class="round-tab">
                <i class="fa fa-user large" style="font-size: 40px;"></i>
            </span>
        </a>
    </li>
    <li role="presentation" class="disabled">
        <a href="" data-toggle="tab" role="tab" title="Service Information">
            <span class="round-tab">
                <i class="fi-torso-business large" style="font-size: 50px;"></i>
            </span>
        </a>
    </li>

    <li role="presentation" class="disabled">
        <a href="" data-toggle="tab" role="tab" title="Dependant Information">
            <span class="round-tab">
                <i class="fa fa-users large" style="font-size: 40px;"></i>
            </span>
        </a>
    </li>
    <li role="presentation" class="disabled">
        <a href="" data-toggle="tab"  role="tab" title="Bank Information">
            <span class="round-tab">
                <i class=" fa fa-bank large" style="font-size: 40px;"></i>
            </span>
        </a>
    </li>
    <li role="presentation" class="disabled">
        <a href="" data-toggle="tab" role="tab" title="Pensionable Information">
            <span class="round-tab">
                <i class="fi-torso-business large" style="font-size: 50px;"></i>
            </span>
        </a>
    </li>

    <li role="presentation" class="disabled">
        <a href="" data-toggle="tab" role="tab" title="Payment Information">
            <span class="round-tab">
                <i class="fi-dollar large" style="font-size: 50px;"></i>
            </span>
         </a>
    </li>
</ul>